/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
html {
    height: 100%;
    min-height: 100%;
}

body {
    height: 100%;
    
    background-color: #e5e5e5;
}

.navbar{
    transition: all 500ms ease-in-out;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.featured-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header-section {
    color: #fff;
    padding: 4rem 0;
    background-image: url('/img/dark-world-woods.png');
    background-repeat: no-repeat;
    max-height: 800px;
    overflow: hidden;
}


footer {
    /*position: absolute;*/
    /*bottom: 0;*/
    width: 100%;
    background-color: rgba(0, 0, 0, 0.80);
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.featured {
    max-width: 75%;
}

    .featured .featured-description {
        background-color: rgba(0, 0, 0, .50);
        color: #fff;
    }

.shadow-heavy {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.75) !important;
}

.bg-transparent-light {
    background-color: rgba(255, 255, 255, 0.75)
}

.bg-transparent-dark-med {
    background-color: rgba(0, 0, 0, .50);
}

.bg-transparent-dark-heavy {
    background-color: rgba(0, 0, 0, .80);
}

/* Books */
.books {
    -moz-perspective: 100px;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    flex-basis: 12rem;
    flex-grow: 0;
    flex-shrink: 0;
}

    .books .book {
        display: inline-block;
        position: relative;
        -moz-perspective: 100px;
        -moz-transform: rotateY(-3deg);
        -webkit-transform: perspective(100) rotateY(-3deg);
        outline: 1px solid transparent; /* Helps smooth jagged edges in Firefox */
        box-shadow: none;
        margin: 0;
        width: 12rem;
        height: 19.2rem;
    }

        .books .book img {
            max-width: 100%;
        }

        .books .book .img {
            padding: 2rem;
            height: 100%;
            background-color: #ada5bb;
        }

        .books .book:before,
        .books .book:after {
            position: absolute;
            top: 2%;
            height: 96%;
            content: ' ';
            z-index: -1;
        }

        .books .book:before {
            width: 100%;
            left: 7.5%;
            background-color: #5a2d18;
            box-shadow: 5px 5px 20px #333;
        }

        .books .book:after {
            width: 5%;
            left: 100%;
            background-color: #EFEFEF;
            box-shadow: inset 0px 0px 5px #aaa;
            -moz-transform: rotateY(20deg);
            -webkit-transform: perspective(100) rotateY(20deg);
        }

/*Flat book for list*/
.book-flat {
    position: relative;
    width: 10rem;
    flex-basis: 10rem;
    flex-grow: 0;
    flex-shrink: 0;
    height: 16rem;
}

    .book-flat img {
        max-width: 100%;
    }

    .book-flat .img {
        padding: 2rem;
        background-color: #ada5bb;
        height: 100%;
    }

        .book-flat .img .h3 {
            font-size: 1.25em;
        }

/*Down arrow*/
.down-arrow {
    /*position: absolute;
    bottom: 0;*/
    width: 100%;
    text-align: center;
    animation: down-arrow 1s infinite;
    color: #663e8c;
}

/*Media Queries*/
@media screen and (max-width: 992px) {

    .featured {
        max-width: 100%;
    }

    /*.book-flat {
        width: 8rem;
        flex-basis: 8rem;
        height: 12.8rem;
    }*/

    /*.books {
        flex-basis: 8rem;
    }

        .books .book {
            width: 8rem;
            height: 12.8rem;
        }

            .books .book .img {
                padding: 1.5rem;
                font-size: .75rem;
            }

                .books .book .img .h3 {
                    font-size: 1rem;
                }*/

    /*.carousel-control-prev, .carousel-control-next {
        top: 0;
        bottom: 20vh;
    }*/

    .carousel-control-prev {
        left: -1rem;
    }

    .carousel-control-next {
        right: -1rem;
    }
}


/*Animation*/
@keyframes down-arrow {
    0% {
        transform: translateY(-4rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
