/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

    body.featured-image {
        background-color: #e5e5e5;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.80);
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.featured {
    max-width: 75%;
}

    .featured .featured-description {
        padding: 1rem;
        background-color: rgba(0, 0, 0, .25);
        color: #fff;
    }


/* Books */
.books {
    -moz-perspective: 100px;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    flex-basis: 12rem;
    flex-grow: 0;
    flex-shrink: 0;
}

.book {
    display: inline-block;
    position: relative;
    -moz-perspective: 100px;
    -moz-transform: rotateY(-3deg);
    -webkit-transform: perspective(100) rotateY(-3deg);
    outline: 1px solid transparent; /* Helps smooth jagged edges in Firefox */
    box-shadow: none;
    margin: 0;
    width: 12rem;
    height: 19.2rem;
}

    .book img {
        max-width: 100%;
    }

    .book .img {
        padding: 2rem;
        height: 100%;
        background-color: #ada5bb;
    }

    .book:before,
    .book:after {
        position: absolute;
        top: 2%;
        height: 96%;
        content: ' ';
        z-index: -1;
    }

    .book:before {
        width: 100%;
        left: 7.5%;
        background-color: #5a2d18;
        box-shadow: 5px 5px 20px #333;
    }

    .book:after {
        width: 5%;
        left: 100%;
        background-color: #EFEFEF;
        box-shadow: inset 0px 0px 5px #aaa;
        -moz-transform: rotateY(20deg);
        -webkit-transform: perspective(100) rotateY(20deg);
    }

/*Flat book for list*/
.book-flat {
    position: relative;
    width: 10rem;
    flex-basis: 10rem;
    flex-grow: 0;
    flex-shrink: 0;
    height: 16rem;
}

    .book-flat img {
        max-width: 100%;
    }

    .book-flat .img {
        padding: 2rem;
        background-color: #ada5bb;
        height: 100%;
    }

        .book-flat .img .h3 {
            font-size: 1.25em;
        }


@media screen and (max-width: 992px) {

    .featured {
        max-width: 100%;
    }

    /*.book-flat {
        width: 8rem;
        flex-basis: 8rem;
        height: 12.8rem;
    }*/
}
