/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #e5e5e5;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.featured {
   
    padding: 1rem;
    background-color: rgba(0, 0, 0, .25);
    color: #fff;
}


/* Books */
/*.book {
    
    display: inline-block;
    box-shadow: 5px 5px 20px #333;
    margin: 10px;
}

    .book img {
        vertical-align: middle;
    }*/

.books {
    display: flex;
    -moz-perspective: 100px;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.book {
    display: inline-block;
    position: relative;
    -moz-perspective: 100px;
    -moz-transform: rotateY(-3deg);
    -webkit-transform: perspective(100) rotateY(-3deg);
    outline: 1px solid transparent; /* Helps smooth jagged edges in Firefox */
    box-shadow: none;
    margin: 0;
}

    .book img {
        position: relative;
        max-width: 100%;
    }

    .book .img {
        padding: 2rem;
        height: 20rem;
        width: 12rem;
        /*font-size: 2rem;*/
        background-color: #ada5bb;
    }

    .book:before,
    .book:after {
        position: absolute;
        top: 2%;
        height: 96%;
        content: ' ';
        z-index: -1;
    }

    .book:before {
        width: 100%;
        left: 7.5%;
        background-color: #5a2d18;
        box-shadow: 5px 5px 20px #333;
    }

    .book:after {
        width: 5%;
        left: 100%;
        background-color: #EFEFEF;
        box-shadow: inset 0px 0px 5px #aaa;
        -moz-transform: rotateY(20deg);
        -webkit-transform: perspective(100) rotateY(20deg);
    }