@model EButlerBooks.Models.Book

    <div class="mb-3">
        @if (Model.ComingSoon)
        {
            <span class="badge badge-warning">Coming Soon</span>
            <br />
        }

        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            @Html.Raw(Model.Description.Replace(System.Environment.NewLine, "<br />"))
        }
        else
        {
            <span>Description coming soon!</span>
        }
        
    </div>
<p>
    <a class="btn btn-info" asp-page="/Books/Book" asp-route-url="@Model.Url">Learn More</a>
</p>