@model EButlerBooks.Models.Book

<div class="mb-3">
    @if (Model.ComingSoon)
    {
        <span class="badge badge-warning">Coming Soon</span>
        <br />
    }

    @if (!string.IsNullOrWhiteSpace(Model.FullDescription))
    {
        @Html.Raw(Model.FullDescription.Replace(System.Environment.NewLine, "<br />"))
    }
    else
    {
        <span>Description coming soon!</span>
    }
</div>
