@model EButlerBooks.Models.Book

<div class="mb-3">

    <h1>
        @Model.Title

    </h1>
    @if (Model.ComingSoon)
    {
        <p>
            <span class="badge badge-warning small">Coming Soon</span>
        </p>
    }

    @if (!string.IsNullOrWhiteSpace(Model.Description))
    {
        @Html.Raw(Model.Description.Replace(System.Environment.NewLine, "<br />"))
    }
    else
    {
        <span>Description coming soon!</span>
    }

</div>
<p>
    <button class="btn btn-primary" data-toggle="modal" data-target="#order-modal">Order Now</button>
    <a class="btn btn-secondary" asp-page="/Books/Book" asp-route-url="@Model.Url">Learn More</a>
</p>


