@model EButlerBooks.Models.Book

<div class="mb-3">
    @if (Model.ComingSoon)
    {
        <span class="badge badge-warning">Coming Soon</span>
        <br />
    }
    @Html.Raw(Model.Description.Replace(System.Environment.NewLine, "<br />"))
</div>
<p>
    <a href="#" class="btn btn-info">Learn More</a>
</p>