<!-- Modal -->
<div class="modal fade" id="order-modal" tabindex="-1" role="dialog" aria-labelledby="order-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="order-modal-label">Subscribe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="h6">Thanks so much for wanting to order!</p>
                <p>But this book is not quite ready yet. I'm busy working out the kinks so that it's the best story it can be!</p>

                <p>
                    Enter your email, and I'll notify you when it's ready! Don't worry. I won't share or sell personal information.
                </p>

                <form>
                    <div class="input-group mb-3">
                        <input type="email" required class="form-control" placeholder="email address" aria-label="Email address" aria-describedby="button-subscribe">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="button-subscribe">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
    </div>
</div>

@code {

}
