@page
@{
    ViewData["Title"] = "Error";
}

<div class="card bg-transparent-dark-heavy text-light mt-5">
    <div class="card-body">
        <h1>Feeling lost?</h1>
        <p>
            Maybe you were looking for one of my latest books.
        </p>
        <a class="btn btn-light" asp-page="/Books/Index">View all books</a>
    </div>

</div>


@section initScripts{

    <script>
        appGlobal.backgroundImage = '/img/lost{0}.jpg'
    </script>
}