@page
@model EButlerBooks.Pages.Books.IndexModel
@{
    ViewData["Title"] = "Books";
}

@section headerContent
{
    <div class="container">
        <h1>@ViewData["Title"]</h1>
    </div>

}

<div class=" container">
    @*This section lists all works*@
    @await Html.PartialAsync("_BooksListPartial", Model.Books)
</div>