@page
@model EButlerBooks.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="d-flex">

    <div class="d-flex flex-column flex-lg-row align-items-start mt-5 mb-5 w-100">
        <div class="mx-auto ml-lg-0 mr-lg-5 shadow-lg">
            <img src="https://www.gravatar.com/avatar/@Model.ComputeHash("e.c.butler@outlook.com")?s=200" class="border rounded" alt="Author E. C. Butler" />
        </div>
        
        <div class="w-100 mt-5 mt-lg-0">
            <div class="card shadow-lg mb-5">
                <div class="card-body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Augue neque gravida in fermentum et sollicitudin ac orci. Enim ut sem viverra aliquet eget. Cursus euismod quis viverra nibh cras pulvinar mattis nunc. Faucibus turpis in eu mi. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Gravida in fermentum et sollicitudin ac orci. Egestas purus viverra accumsan in. At erat pellentesque adipiscing commodo elit. Vel eros donec ac odio.
                    </p>

                    <p>
                        Arcu dui vivamus arcu felis bibendum ut tristique. Pharetra diam sit amet nisl. Et pharetra pharetra massa massa ultricies. Sit amet venenatis urna cursus eget nunc scelerisque viverra mauris. Pellentesque sit amet porttitor eget dolor morbi non arcu risus. Eget felis eget nunc lobortis mattis. Morbi non arcu risus quis varius quam quisque. Volutpat odio facilisis mauris sit amet massa vitae. Faucibus ornare suspendisse sed nisi. Quis hendrerit dolor magna eget est lorem ipsum. Congue nisi vitae suscipit tellus mauris a diam maecenas sed. Quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus. Enim diam vulputate ut pharetra sit amet aliquam. Sit amet facilisis magna etiam. Rhoncus urna neque viverra justo nec ultrices dui. Auctor augue mauris augue neque. Pulvinar neque laoreet suspendisse interdum consectetur. Elementum tempus egestas sed sed risus pretium quam vulputate dignissim. Vulputate odio ut enim blandit volutpat.
                    </p>

                    <p>
                        Imperdiet dui accumsan sit amet. Massa enim nec dui nunc mattis enim ut tellus elementum. Nulla at volutpat diam ut venenatis. Pellentesque id nibh tortor id aliquet lectus. In eu mi bibendum neque egestas congue. Nibh tortor id aliquet lectus proin nibh. Mattis rhoncus urna neque viverra justo nec. A cras semper auctor neque vitae tempus quam. Integer feugiat scelerisque varius morbi enim nunc faucibus a pellentesque. Pretium lectus quam id leo in vitae. Sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula. Scelerisque eleifend donec pretium vulputate sapien nec. Aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Elit eget gravida cum sociis natoque penatibus et. Ipsum faucibus vitae aliquet nec ullamcorper sit amet. Metus dictum at tempor commodo ullamcorper a lacus. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus. Non sodales neque sodales ut etiam sit amet.
                    </p>

                </div>
            </div>

            <a class="btn btn-info" asp-page="/">Home</a>
        </div>


    </div>
</div>

