@page
@model EButlerBooks.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="d-flex container">

    <div class="d-flex flex-column flex-lg-row align-items-start mt-5 mb-5 w-100">
        <div class="mx-auto ml-lg-0 mr-lg-5 shadow-lg">
            <img src="https://www.gravatar.com/avatar/@Model.ComputeHash("e.c.butler@outlook.com")?s=200" class="rounded" alt="Author E. C. Butler" />
        </div>
        
        <div class="w-100 mt-5 mt-lg-0">
            <div class="card shadow-lg mb-5">
                <div class="card-body">
                    <h1>
                        About Me

                    </h1>
                    <p class="lead text-muted">
                        Father, Husband, Writer, Software Developer
                    </p>

                    <p>
                        I’m a father of two little boys, one of which was diagnosed with mild autism when he was about 2 years old. Both of my sons have been a great joy and blessing to me, despite the many challenges they preset on a minute-by-minute basis! My wife is amazing and incredibly supportive, even when I hermit myself for 30 days during November to crank out my next story. Although, I think she secretly dreads NaNoWriMo. My youngest was worn at the end of October 2018. So, for most of November, I had a bottle in one hand, and a keyboard in the other, with the baby somewhere in between!
                    </p>

                    <p>
                        Back in 2010, I started working on my very first novel. Well, to be honest, I started it much earlier, but the words never made it to the “paper”, and instead, stuck in my head. Ever since then, I’ve been writing books, two of which were written before I learned about NaNoWriMo, and two written during that most anticipated month of the year for writers all over the world.
                    </p>

                    <p>
                        Besides writing, I am a software developer for an amazing company. And when I’m not writing code or prose, I’m playing with my kids (tossing them onto the couch or spinning them till they’re dizzy is their favorite). And if time permits, I play games on my Switch, PC, or my NES and SNES. Yes, I still have those last two. I also enjoy archery, riding my mountain bike, and rebuilding/fixing computers and laptops.
                    </p>

                    <p>
                        My passion for writing has taken me on some incredible journeys, and it’s my hope that as you read my stories, they will do the same for you!
                    </p>

                </div>

                
            </div>

            
        </div>


    </div>
</div>

