@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

@section headerContent{
    <div class="container">
        <h1>@ViewData["Title"]</h1>
    </div>
}

<div class="container">

    <div class="card">
        <div class="card-body">
            <p>Use this page to detail your site's privacy policy.</p>
        </div>
    </div>


</div>



